@font-face {
  font-family: 'Adlery';
  src: url("fonts/adlery-pro.swash.ttf") format("truetype"); }

.home {
  background: url("../images/shawl-mobile.jpg") no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media (min-width: 992px) {
    .home {
      background: url("../images/shawl-desktop.jpg") no-repeat bottom right fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; } }

body {
  background-color: #ffece5;
  font-family: Helvetica, sans-serif;
  margin: 0; }

h1, h2 {
  font-family: "Adlery";
  margin: 0; }

h2 {
  font-size: 50px; }

h4 {
  margin: 0; }

p {
  font-size: 18px; }

a {
  color: #cc9900;
  text-decoration: none; }

a:hover {
  color: #adad85; }

header a {
  color: black; }

.banner {
  background-color: rgba(204, 153, 0, 0.9);
  padding: 10px;
  text-align: center; }

.sidebar-left {
  border-radius: 5px;
  font-family: "Adlery";
  font-size: 40px;
  padding: 5%;
  margin: 5%;
  text-align: center;
  width: 80%; }

@media (min-width: 992px) {
  .sidebar-left {
    width: 260px;
    padding: 15px;
    margin: 10px 0 0 50px; } }

.sidebar-left__home {
  background-color: rgba(242, 242, 242, 0.9); }

.sidebar-left__patterns {
  background-color: rgba(242, 242, 242, 0.2); }

@media (min-width: 992px) {
  .sidebar-left__home {
    background-color: rgba(242, 242, 242, 0.4); } }

.sidebar-left h2 {
  border-bottom: dashed 2px #adad85;
  padding-bottom: 15px;
  padding-top: 20px; }

.sidebar-left_subheading {
  font-size: 20px;
  margin: -10px;
  padding-bottom: 20px; }

a.home-link {
  color: black; }

.social-media-buttons {
  display: flex;
  padding-top: 5px; }

.button {
  flex-grow: 1;
  fill: black;
  opacity: 0.7; }

.pinterest {
  height: 65px;
  width: 65px; }

.instagram {
  margin-top: 8px;
  height: 55px;
  width: 55px; }

.store {
  margin-left: 10px;
  margin-top: 2px;
  height: 80px;
  width: 80px; }

.button:hover {
  opacity: 1; }

.button object, .button svg, .button path {
  cursor: pointer; }

.contact-us {
  color: white;
  display: flex; }

.contact-us__button {
  background-color: #cc9900;
  border-radius: 5px;
  flex-grow: 1;
  font-size: 26px;
  font-weight: normal;
  margin: 2px 2px 5px 2px;
  padding: 10px 0 5px 0;
  vertical-align: bottom; }

.contact-us__button:hover {
  background-color: #adad85; }
