.home {
	background: url('../images/shawl-mobile.jpg') no-repeat bottom right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media only screen and (min-width:800px) {
	.home {
		background: url('../images/shawl-desktop.jpg') no-repeat bottom right fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

.patterns {
	background: url('../images/star.jpg') no-repeat bottom right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header {
	background-color: rgba(255, 255, 255, 0.9);
	font-family: 'Adlery';
	font-size: 30px;
	padding-left: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.banner {
	background-color: rgba(204, 153, 0, 0.9);
	margin:0;
	padding:10px;
	text-align:center;
}

.content {
  margin: 0 auto;
  width: 800px;
	text-align: center;
}

.social-media-buttons {
	display: flex;
	padding-top:5px;

	/* @media only screen and (min-width:640px){
		padding-bottom:10px;
	} */
}


.button {
	flex-grow:1;
  fill:black;
	opacity:0.7;
}

.pinterest {
	height:65px;
	width:65px;
}

.instagram {
	margin-top:8px;
	height:55px;
	width:55px;
}

.store {
	margin-left:10px;
	margin-top: 2px;
	height:80px;
	width:80px;
}

.button:hover {
	opacity:1;
}
