@mixin background-cover($img-path) {
  background: url($img-path) no-repeat bottom right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.home {
  @include background-cover('../images/shawl-mobile.jpg');

  @media #{$screen-desktop} {
    @include background-cover('../images/shawl-desktop.jpg');
  }
}
