body {
    background-color:$color-background;
    font-family: $font-paragraph;
		margin: 0;
}

h1, h2 {
	font-family: $font-headings;
  margin: 0;
}

h2 {
  font-size: 50px;
}

h4 {
  margin: 0;
}

p {
  font-size:18px;
}

a {
  color: $color-primary;
	text-decoration: none;
}

a:hover {
  color: $color-gold;
}

header a {
	color: $color-black;
}
