.sidebar-left {
	border-radius:5px;
	font-family: $font-headings;
	font-size:40px;
	padding: 5%;
	margin:5%;
	text-align: center;
	width: 80%;
}

@media #{$screen-desktop} {
	.sidebar-left {
		width: 260px;
		padding: 20px 20px 0 20px;
		margin: 10px 0 0 50px;
	}
}

.sidebar-left__home {
	background-color: rgba(242, 242, 242, 0.9);
}

.sidebar-left__patterns {
	background-color: rgba(242, 242, 242, 0.2);
}

@media #{$screen-desktop} {
	.sidebar-left__home {
		background-color: rgba(242, 242, 242, 0.2);
	}
}

.sidebar-left h2 {
	border-top: dashed 2px $color-gold;

	padding-bottom:15px;
	padding-top: 20px;
}

.sidebar-left_subheading {
	font-size: 20px;
	margin:-10px;
	padding-bottom:20px;
}
